{% extends 'list/base_template.html' %}
{% block title %}
    Student Database
{% endblock %}
{% block body %}
    {%if all_students%}
        <div class="container-fluid col-md-offset-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Enrollment Number</th>
                        <th>Name</th>
                        <th>Aggregate</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stud in all_students %}
                        {% if stud.aggregate <= 30 %}
                            {% with tr_class="danger"%}
                                <tr class=tr_class>
                            {% endwith %}
                        {% elif stud.aggregate <= 60 %}
                            {% with tr_class="active"%}
                                    <tr class=tr_class>
                            {% endwith %}
                        {% elif stud.aggregate <= 100 %}
                            {% with tr_class="success"%}
                                <tr class=tr_class>
                            {% endwith %}

                                <!--<tr class=tr_class>-->
                                    <td>{{stud.roll_num}}</td>
                                    <td>{{stud.name}}</td>
                                    <td>{{stud.aggregate}}</td>
                                </tr>


                       <!-- {% endif %}-->
                    {% endfor %}
                </tbody>
            </table>
        </div>


    {%else%}
        <h3>Sorry no records to display</h3>
    {%endif%}
{% endblock %}