{% extends 'list/base_template.html' %}
{% load set_var %}
{% block title %}
    Student Database
{% endblock %}
{% block body %}
    {%if all_students%}
        <div class="container-fluid col-md-offset-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Enrollment Number</th>
                        <th>Name</th>
                        <th>Aggregate</th>
                    </tr>
                </thead>
                <tbody>

                    {% for stud in all_students %}
                        {% if stud.aggregate <= 30 %}
                            {% set tr_class = "danger" %}
                        {% elif stud.aggregate <= 60 %}
                            {% set tr_class = "warning" %}
                        {% elif stud.aggregate <= 100 %}
                            {% set tr_class = "success" %}
                        {% endif %}
                        <tr class={{tr_class}}>
                        <td>{{stud.roll_num}}</td>
                        <td>{{stud.name}}</td>
                        <td>{{stud.aggregate}}</td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>


    {%else%}
        <h3>Sorry no records to display</h3>
    {%endif%}
{% endblock %}